<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
    <style>
        @media only screen and (max-width: 620px) {
            .container {
                width: 100% !important;
                padding-left: 12px !important;
                padding-right: 12px !important;
            }

            .stack-column {
                display: block !important;
                width: 100% !important;
                max-width: 100% !important;
            }
        }
    </style>
</head>

<body
    style="margin:0;padding:0;background-color:#F2F2F5;font-family:Helvetica,Arial,sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
    <table role="presentation" cellpadding="0" cellspacing="0" width="100%" height="100%" style="height:100vh;">
        <tr>
            <td align="center" valign="middle">

                <table role="presentation" cellpadding="0" cellspacing="0" width="600" class="container"
                    style="width:819px;background-color:#ffffff;border-radius:8px;overflow:hidden;margin: 86px 0 86px 0;">
                    <tr>
                        <td style="text-align:left;background-color:#ffffff;">
                            <img src="{{logoUrl}}" width="100%" alt="Aedion AI Logo"
                                style="display:block; border:0; outline:none; text-decoration:none; margin: 0 auto;">
                        </td>
                    </tr>
                    <!-- Hero / Intro -->
                    <tr style="padding:28px;">
                        <td style="padding:28px;background-color:#ffffff;margin-top: 60px;">
                            <h1
                                style="margin:60px 0 0 0;font-size:20px;line-height:28px;color:#111827;font-weight:500;">
                                Hi,</h1>
                            <p style="margin:20px 0 0 0;font-weight:500; font-size:20px;color:#00000099;">
                            <p style="margin:20px 0 0 0;font-weight:500; font-size:20px;color:#00000099;">Your
                                verification code is:{{code}}.</p>
                            <p style="margin:20px 0 0 0;font-weight:500; font-size:20px;color:#00000099;">If you are
                                having any issues with your account, please don't hesitate to contact us by replying to
                                this mail.</p>
                            </p>
                            <p style="margin:40px 0 0 0;font-weight:500; font-size:20px;color:#00000099;">Thanks!</p>
                            <p style="margin:0 0 0 0;font-weight:500; font-size:20px;color:#00000099;">Aedion</p>

                        </td>
                    {{!-- <tr>
                        <td
                            style="padding:20px 28px;background-color:#ffffff;border-top:1px solid #D9D9D9;text-align:left;font-size:13px;color:#6b7280;">
                            <p style="margin:0 0 8px 0;color:#00000080;font-size: 18px;font-weight:400;">P.S. Don’t
                                hesitate to get in touch if you have any questions _ we always respond to emails</p>
                        </td>
                    </tr> --}}
        </tr>


        <!-- Footer -->
        <tr>
            <td
                style="padding:20px 0 0 0;background-color:#ffffff;border-top:1px solid #D9D9D9;text-align:left;font-size:13px;color:#6b7280;">
                <p style="margin:0 0 8px 0;color:#00000080;font-size: 18px;font-weight:400;text-align: center;">© 2025
                    Aedion</p>
                <p style="margin:0 0 8px 0;color:#00000080;font-size: 18px;font-weight:400;text-align: center;"> Privacy
                    Policy, Terms of Service </p>
                <p
                    style="margin:0 0 8px 0;color:#00000080;font-size: 18px;font-weight:400;text-align: center; margin-bottom: 27px;">
                    Boston Massachusetts, United States</p>

            </td>
        </tr>
    </table>

    </td>
    </tr>
    </table>


</body>

</html>
